body{
    background-color: rgb(64, 231, 175);
}

#welcome {
    background-color:gainsboro;
    margin-bottom: -1rem;
    max-width: 100rem;
    margin: 1rem;
    box-shadow: 0 0 40px rgb(194, 186, 186);
    border-radius: 4px;
}

 /* .container{
    max-width: 100rem;
    max-height: 30rem;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgb(194, 186, 186);
    border-radius: 4px;
    background:gainsboro;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
*/

